@model Movie
<h1>Enter a new movie:</h1>

<form method="post">
    <label asp-for="Title">Movie Title:</label> <br />
    <input required asp-for="Title" />
    <br />
    <label asp-for="Category">Category/Genre</label> <br />
    <input required asp-for="Category" />
    <br />
    <label asp-for="Year">Year:</label> <br />
    <input required asp-for="Year" />
    <br />
    <label asp-for="Director">Director</label> <br />
    <input required asp-for="Director" />
    <br />
    <label asp-for="Rating">Rating:</label> <br />
    <select required asp-for="Rating">
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
    </select>
    <br />
    <label asp-for="Edited">Edited?</label> <br />
    <select asp-for="Edited">
        <option value="false">No</option>
        <option value="true">Yes</option>
    </select>
    <br />
    <label asp-for="LentTo">Lent to:</label> <br />
    <input asp-for="LentTo" />
    <br />
    <label asp-for="Notes">Notes:</label> <br />

    <input asp-for="Notes" maxlength="25" />
    <br />
    <br />

    <button type="submit">Submit</button>
</form>