@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1>Get to Know Joel</h1>

    <br />

    <h3>Joel Performs Regularly Here:</h3>
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>

    <br />
    <br />


    <h3>Family-Friendly Podcast:</h3>

    <a href="https://baconsale.com/">Baconsale <br /> 
    <img src="~/img/Baconsale.jpg" width="600" />
    </a>
</div>